mixin inputSelectTipButton(id, value)
    .input-select-tip-button(id=id)= value + '%'

mixin inputNumber(id, label, inputId, errorText) 
    .input-input-container(id=id)
        .input-input-label-error-container
            label(for=id + '-input')= label
            .input-input-error-container
        .input-with-unit
            span.unit
                block
            input(id=id + '-input' type="number", value="0")

mixin inputCustom(id)
    .input-select-tip-custom-container(id=id) 
        span.text Custom
        input(type="number", value="0")

form 
    div(class="input-container")
        +inputNumber('bill-input', 'Bill', null)
            include svg/icon-dollar.pug

        div(class="input-select-tip-container")
            div(class="input-selcet-tip-title") Select tip %
            div(class="input-select-tip-button-container")
                +inputSelectTipButton('tip-5', '5')
                +inputSelectTipButton('tip-10', '10')
                +inputSelectTipButton('tip-15', '15')
                +inputSelectTipButton('tip-25', '25')
                +inputSelectTipButton('tip-50', '50')
                +inputCustom('custom-input')

        +inputNumber('person-input', 'Number of people')
            include svg/icon-person.pug
        
 
